head {
	font-family: 'Georgia', Times, Times New Roman, serif;
	margin: 0;
	padding: 0;
}
body {
	background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete_seamless.png");
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin: 0;
}
.Header {
	font-family: 'Georgia', Times, Times New Roman, serif;
	position: relative;
	top: 0;
	width: 100%;
	height: 80px;
	background-color: white;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	z-index: 1;
}
.Name {
	position: absolute;
	height: 100%;
	background-color: #4aaaa5;
	width: 270px;
	color: white;
	left: 80px;
	text-align: center;
	top: 0%;
}
#Header_Name {
	position: absolute;
	top: 0px;
	width: 100%;
}
.Nav {
	position: absolute;
	top: 35px;
	left: 700px;
	float: left;
	color: #4aaaa5;
	z-index: 2;
}
#portfolio {
	text-decoration: none;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding-left: 8px;
	padding-right: 8px;
	color: grey;
}
.Nav a.about_contact:hover {
	background-color: #cdcdcd;
}
.Nav a.about_contact:active {
	text-decoration: underline;
}
.Nav a#portfolio:hover {
	background-color: #cdcdcd;
}
.Nav a#portfolio:active {
	text-decoration: underline;
}
.about_contact {
	text-decoration: none;
	border-width: 50px;
	color: grey;
	padding: 0 6px;
}
.about_me {
	position: relative;
	width: 600px;
	background-color: #ffffff;
	top: 0px;
	left: 80px;
	margin-top: 25px;
	border: 1px solid #dddddd;
	margin-bottom: 250px;
}
#About_Header {	
	color: #4aaaa5;
	border-bottom: 1px solid #ccc;
	margin-left: 30px;
	margin-right: 30px;
	padding-bottom: 24px;
	padding-top: 25px;
	padding-right: 20px;
}
#profile_picture{
	float: left;
	padding-right: 20px;
	padding-left: 30px;
}
.about_me_text {
	margin: 0;
	margin-left: 30px;
	padding-bottom: 10px;
	color: #777777;
	margin-right: 30px;
}
.connect {
	position: relative;
	float: left;
	left: 850px;
	bottom: 280px;
	height: 200px;
	width: 270px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
}
.connect_with_me {
	color: #4aaaa5;
	font-size: 22px;
	border-bottom: 1px solid #ccc;
	margin-left: 40px;
	margin-right: 40px;
	padding-bottom: 15px;
	padding-top: 5px;
}
.social_media {
	margin-top: 10px;
}
.connect_image {
	height: 60px;
	width: 60px;
}
.left_connect_image {
	height: 60px;
	width: 60px;
	margin-left: 40px;

}
.right_connect_image {
	height: 60px;
	width: 60px;
	margin-right: 40px;
}
.footer {
	position: fixed;
	height: ;
	bottom: 0;
	width: 100%;
	background-color: #666666;
	border-top: 5px solid #4aaaa5;
}
.footer_copyright {
	text-align: center;
	color: #ffffff;
	font-size: 10px;
	padding: 8px 0 8px 0;
}
#contact {
	position: absolute;
	width: 600px;
	background-color: #ffffff;
	left: 80px;
	top: 125px;
	border: 1px solid #dddddd;	
	margin-bottom: 350px;
}
#contact_header {
	color: #4aaaa5;
	border-bottom: 1px solid #ccc;
	margin: 0 30px 0 30px;
	padding-bottom: 24px;
	padding-top: 25px;
	padding-right: 20px;
}
.contact_title {
	font-weight: normal;
	margin: 5px 0 5px 30px;
	margin-left: 30px;
}
textarea {
	width: 80%;
	margin-left: 30px;
	border-color: grey;
	border-width: 1px;
}
#message_box {
	height: 200px;
	margin-bottom: 25px;
	margin-left: 30px;
	width: 80%;
}
.button {
	border: none;
	background-color: #4aaaa5;
	padding: 10px 50px;
	margin: 0 0 30px 30px;
	color: white;
}
button:hover {
	opacity: .5;
}
.contact_connect {
	position: absolute;
	float: left;
	left: 700px;
	top: 125px;
	height: 200px;
	width: 270px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
}
.portfolio {
	position: relative;
	width: 100%;
	height: 650px;
}
.portfolio_image_text {
	color: white;
	position: absolute;
	padding-top: 15px;
	width: 240px;
	height: 30px;
	background-color: #4aaaa5;
	margin-left: 25px;
	top: 110px;
	text-align: center;
}
.portfolio img{
	float: left;
	margin: 25px;
}
.aref {
	position: relative;
	float: left;
}

@media only screen and (max-width: 980px) {
	#profile_picture {
		position: static;
		width: 80%;
		float: none;
		padding: 0 10% 5% 10%;
	}	
	#about_me_text {
		float: none;
		position: relative;
	}
	.about_me {
		width: 35%;
	}
	.contact_connect {
		left: 50%;
	}
	.Nav {
		left: 50%;
	}
	.Header {
		width: 100%;
	}
	#contact {
		width: 35%;
	}
	.button {
		padding-right: 10%;
		padding-left: 10%;
		text-align: center;
		max-width: 100%
	}
	textarea {
		margin: 0 10%;
	}
	.aref {
		width: 100%;
	}
	.portfolio img {
		width: 90%;
		margin: 5%;
	}
	.portfolio_image_text {
		margin: 5%;
		width:90%;
		top: 60%;
	}
	.about_me {
		position: relative;
		overflow: auto;
	}
	#About_Header {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 768px) {
	
}

@media only screen and (max-width: 640px) {
	
}